@{
    ViewData["Title"] = "Task Page";
}

<div class="container col-md-12">
    <div class="row shadow p-3 mb-5 bg-body-tertiary rounded border justify-content-evenly">
        <div class="card border rounded shadow" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Task</h5>
                <p class="card-text">Task Info</p>
                <ul class="list-group list-group-flush border-bottom border-top">
                    <li class="list-group-item ps-0">
                        <span>Task Completed At:</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar w-75"></div>
                        </div>
                    </li>
                    <li class="list-group-item ps-0">
                        <span>Deadline: </span>
                    </li>
                </ul>
                <a href="#" class="btn btn-dark mt-2">Info</a>
                <a href="#" class="btn btn-danger mt-2">Delete</a>
            </div>
        </div>
        <div class="card border rounded shadow" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Task</h5>
                <p class="card-text">Task Info</p>
                <ul class="list-group list-group-flush border-bottom border-top">
                    <li class="list-group-item ps-0">
                        <span>Task Completed At:</span>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar w-75"></div>
                        </div>
                    </li>
                    <li class="list-group-item ps-0">
                        <span>Deadline: </span>
                    </li>
                </ul>
                <a href="#" class="btn btn-dark mt-2">Info</a>
                <a href="#" class="btn btn-danger mt-2">Delete</a>
            </div>
        </div>

    </div>
</div>

